body, h1, p
  font-family: 'Roboto', sans-serif

body, #app
  min-height: 100vh


header
  position: relative
  width: 100%
  display: flex
  justify-content: center
  align-items: center

  .logo
    margin-top: 1.25rem
    h1
      font-size: 1.25rem
      color: #1D3557
      font-weight: 900
    span
      display: block
      margin-left: 4rem
      color: #457B9D
      font-weight: bold

  .external-links
    position: absolute
    top: 10px
    right: 10px

    .github-logo
      width: 1.25rem
      height: 1.25rem
      

main
  box-sizing: border-box
  padding: 0 10px
  margin: 4.5rem 0

.form-group
  font-family: 'Montserrat', sans-serif
  width: 100%

  input[type="number"]
    border: none
    outline: none
    border-bottom: 3px solid #DCDCDC
    font-size: 3rem
    font-weight: bold
    width: 100%

  .units-group
    display: flex
    width: 100%
    margin-top: 10px

    .unit
      width: fit-content
      background-color: #EFEFEF
      font-weight: bold
      font-size: 1.25rem
      width: 2.6rem
      height: 2.6rem
      display: flex
      justify-content: center
      align-items: center

      input[type="radio"]
        display: none

    .unit.selected
      flex-grow: 1
      justify-content: flex-start
      padding: 0 0.9rem 
      background-color: #70C3FF
      label
        color: white

.divider
  background: url('/assets/transfer.svg')
  width: 2.25rem
  height: 2.25rem
  transform: rotate(90deg)
  margin: 1.75rem 0

footer
  font-size: 0.7rem
  margin-left: 10px

  p
    margin: 7px 0
    display: flex
    align-items: center
    a
      text-decoration: none
      color: #457B9D
      font-weight: bold
    
    a:hover
      text-decoration: underline
    .github-contact
      margin-left: 3px
    .angular-logo
      width: 1rem
      height: 1rem
      margin-left: 3px


  p:last-child
    opacity: 0.4