<main>
  <div class="form-group">
    <input
      [formControl]="temperature"
      type="number"
      (input)="handleTemperatureChange('A')"
    />
    <div class="units-group">
      <div
        *ngFor="let unit of units"
        class="unit"
        [ngClass]="{
          selected: isUnitSelected(unit.value)
        }"
      >
        <input
          type="radio"
          name="unit"
          [formControl]="unitField"
          [value]="unit.value"
          [id]="unit.value + 'Unit'"
          [checked]="isUnitSelected(unit.value)"
          (input)="handleUnitChange('A', unit.value)"
        />
        <label [for]="unit.value + 'Unit'">{{ isUnitSelected(unit.value) ? unit.label : unit.label[0] }}</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <input
      [formControl]="temperature2"
      type="number"
      (input)="handleTemperatureChange('B')"
    />
    <div class="units-group">
      <div
        *ngFor="let unit of units"
        class="unit"
        [ngClass]="{
          selected: isUnit2Selected(unit.value)
        }"
      >
        <input
          type="radio"
          name="unit2"
          [formControl]="unitField2"
          [value]="unit.value"
          [id]="unit.value + 'Unit2'"
          [checked]="isUnit2Selected(unit.value)"
          (input)="handleUnitChange('B', unit.value)"
        />
        <label [for]="unit.value + 'Unit2'">{{ isUnit2Selected(unit.value) ? unit.label : unit.label[0] }}</label>
      </div>
    </div>
  </div>
</main>
